.container .row .left {

    color: black;

    img{
        width: 60%;
    }

    p {
        font-size: 24px;
    }
    
}

.container .row .right {

    .pwf {
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
    }

    p {
        text-align: center;
        margin-top: 10px;
    }
    
}

.container .row .right .create {
        background-color: #42b72a;
        border: none;
        color: #ffffff;
        font-weight: 600;
}

.container .row .right .create:hover {
    background-color: #448d35;
}