.container .row .left {

    color: black;

    img{
        width: 50%;
    }

    p {
        font-size: 24px;
    }
    
}

.container .row .right {

    .pwf {
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
    }
    
}